* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f5f5;
}

.navbar {
  background: #222;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

.logo {
  font-size: 28px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.hero {
  height: 90vh;
  background: #0d6efd;
  color: white;

  display: flex;
  flex-direction: column;

  justify-content: center;

  align-items: center;

  text-align: center;

  padding: 20px;
}

.hero h1 {
  font-size: 55px;
}

.hero h2 {
  margin: 20px 0;
}

.hero p {
  max-width: 700px;
  line-height: 1.8;
}

button {
  margin-top: 25px;

  padding: 12px 30px;

  border: none;

  background: white;

  color: #0d6efd;

  font-size: 18px;

  border-radius: 5px;

  cursor: pointer;
}

.about{
    padding:80px 20px;
    background:white;
}

.container{
    width:90%;
    max-width:1100px;
    margin:auto;
}

.about h2{
    text-align:center;
    margin-bottom:30px;
    font-size:40px;
    color:#0d6efd;
}

.about p{
    margin-top:20px;
    font-size:18px;
    line-height:1.8;
    color:#555;
}

.skills{

padding:80px 20px;

background:#f5f5f5;

}

.skills h2{

text-align:center;

font-size:40px;

margin-bottom:40px;

color:#0d6efd;

}

.skill-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(180px,1fr));

gap:20px;

}

.skill-card{

background:white;

padding:30px;

text-align:center;

font-size:20px;

font-weight:bold;

border-radius:10px;

box-shadow:0 4px 8px rgba(0,0,0,.1);

transition:.3s;

}

.skill-card:hover{

transform:translateY(-8px);

}

/* Projects */

.projects{

padding:80px 50px;

background:white;

}

.projects h2{

text-align:center;

font-size:40px;

color:#0d6efd;

margin-bottom:40px;

}

.project-container{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(300px,1fr));

gap:30px;

}

.project-card{

background:#f8f9fa;

padding:25px;

border-radius:10px;

box-shadow:0 5px 10px rgba(0,0,0,.1);

transition:.3s;

}

.project-card:hover{

transform:translateY(-10px);

}

.project-card h3{

margin-bottom:15px;

}

.project-card p{

line-height:1.6;

margin-bottom:20px;

}

.project-card h4{

color:#0d6efd;

margin-bottom:20px;

}

.project-buttons{

display:flex;

gap:15px;

}

.project-buttons button{

padding:10px 18px;

border:none;

background:#0d6efd;

color:white;

cursor:pointer;

border-radius:5px;

}

/* Contact Section */

.contact {
  padding: 80px 50px;
  background: #f4f7fc;
  text-align: center;
}

.contact h2 {
  font-size: 40px;
  color: #0d6efd;
  margin-bottom: 20px;
}

.contact p {
  margin-bottom: 40px;
}

.contact-info {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.contact-card {
  width: 280px;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,.1);
}

.contact-card h3 {
  color: #0d6efd;
  margin-bottom: 15px;
}

.contact-card a {
  color: #0d6efd;
  text-decoration: none;
  font-weight: bold;
}

.contact-card a:hover {
  text-decoration: underline;
}

.footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 30px;
}

.footer h3 {
  margin-bottom: 10px;
  font-size: 28px;
}

.footer p {
  margin: 10px 0;
}